body {
	margin: 0;
}

.background {
	width:100vw;
	height: 275vw;
	top: 0px;
	left:0px;
	background-color: rgb(89,96,64);
}

.title {
	color: rgb(252,227,0);
	position: absolute;
	left: 31.5vw;
	top: .5vw;
	font-family: Quasimoda, Helvetica;
	font-weight: 600;
	font-size: 4vw;
}

.subhead {
	color: rgb(252,227,0);
	position: absolute;
	left: 36vw;
	top: 6vw;
	font-family: Quasimoda, Helvetica;
	font-weight: 400;
	font-size: 3vw;
}

.dates {
color: rgb(252,227,0);
	position: absolute;
	left: 45vw;
	top: 11vw;
	font-family: Quasimoda, Helvetica;
	font-weight: 300;
	font-size: 2vw;
}

.photo {
	float: left;
	position: absolute;
	width: 200px;
	height: 200px;
	top: 300px;
	left: 50px;
	background-repeat: no-repeat;
	background-size: contain;
}

.top2013 {
	background-image: url(top2013.png);
	left: 490px;
}

.top31 {
	background-image: url("top31.png");
	width:420px;
}

.top32 {
	background-image: url("top32.png");
	top:520px;
	height: 420px;
}

.top33 {
	background-image: url("top33.png");
	top: 520px;
	left: 270px;
}

.top34 {
	background-image: url("top34.png");
	top: 520px;
	left: 490px;
}

.top35 {
	background-image: url("top35.png");
	top: 740px;
	left: 270px;
}

.top36 {
	background-image: url("top36.png");
	top: 740px;
	left: 490px;
}

.photo2 {
	float: left;
	position: absolute;
	width: 200px;
	height: 200px;
	top: 980px;
	left: 750px;
	background-repeat: no-repeat;
	background-size: contain;
}

.top2014 {
	background-image: url("top2014.png");
}

.top41 {
	background-image: url("top41.png");
	left: 970px;
	width: 420px;
}

.top42 {
	background-image: url("top42.png");
	top:1200px;
}

.top43 {
	background-image: url("top43.png");
	top: 1200px;
	left: 970px;
}

.top44 {
	background-image: url("top44.png");
	top:1200px;
	left:1190px;
}

.top45 {
	background-image: url("top45.png");
	top:1420px;
	width: 420px;
}

.top46 {
	background-image: url("top46.png");
	top:1420px;
	left:1190px;
}

.photo3 {
	float: left;
	position: absolute;
	width: 200px;
	height: 200px;
	top: 1660px;
	left: 50px;
	background-repeat: no-repeat;
	background-size: contain;
}

.top2016 {
	background-image: url("top2016.png");
	left: 490px;
}

.top61 {
	background-image: url("top61.png");
	width: 420px;
}

.top62 {
	background-image: url("top62.png");
	top:1880px;
}

.top63 {
	background-image: url("top63.png");
	top: 1880px;
	left: 270px;
}

.top64 {
	background-image: url("top64.png");
	top:1880px;
	left:490px;
}

.top65 {
	background-image: url("top65.png");
	top:2100px;
	width: 420px;
}

.top66 {
	background-image: url("top66.png");
	top:2100px;
	left:490px;
}

.photo4 {
	float: left;
	position: absolute;
	width: 200px;
	height: 200px;
	top: 2340px;
	left: 750px;
	background-repeat: no-repeat;
	background-size: contain;
}

.top2017 {
	background-image: url("top2017.png");
}


.top71 {
	background-image: url("top71.png");
	left: 970px;
}

.top72 {
	background-image: url("top72.png");
	height: 420px;
	left: 1190px;
}

.top73 {
	background-image: url("top73.png");
	top: 2560px;
}

.top74 {
	background-image: url("top74.png");
	top:2560px;
	left:970px;
}

.top75 {
	background-image: url("top75.png");
	top:2780px;
	width: 420px;
}

.top76 {
	background-image: url("top76.png");
	top:2780px;
	left:1190px;
}

.photo5 {
	float: left;
	position: absolute;
	width: 200px;
	height: 200px;
	top: 3020px;
	left: 50px;
	background-repeat: no-repeat;
	background-size: contain;
}

.top2018 {
	background-image: url("top2018.png");
	left: 490px;
}

.top81 {
	background-image: url("top81.png");
	width: 420px;
}

.top82 {
	background-image: url("top82.png");
	top: 3240px;
}

.top83 {
	background-image: url("top83.png");
	top: 3240px;
	left: 270px;
}

.top84 {
	background-image: url("top84.png");
	top: 3240px;
	left: 490px;
}

.top85 {
	background-image: url("top85.png");
	top: 3460px;
	width: 420px;
}

.top86 {
	background-image: url("top86.png");
	top: 3460px;
	left: 490px;
}

.line {
	position: absolute;
	height: 2720px;
	width: 7px;
	background-color: rgb(252,227,0);
	top: 400px;
	left: 717px;
}

.line1 {
	position: absolute;
	height: 7px;
	width: 35px;
	background-color: rgb(252,227,0);
	top: 400px;
	left: 688px;
}

.line2 {
	position: absolute;
	height: 7px;
	width: 28px;
	background-color: rgb(252,227,0);
	top: 1080px;
	left: 722px;
}

.line3 {
	position: absolute;
	height: 7px;
	width: 35px;
	background-color: rgb(252,227,0);
	top: 1760px;
	left: 688px;
}

.line4 {
	position: absolute;
	height: 7px;
	width: 28px;
	background-color: rgb(252,227,0);
	top: 2440px;
	left: 722px;
}

.line5 {
	position: absolute;
	height: 7px;
	width: 35px;
	background-color: rgb(252,227,0);
	top: 3120px;
	left: 689px;
}

.home {
	color: rgb(252,227,0);
	position: absolute;
	left: 38vw;
	top: 3700px;
	font-family: Quasimoda, Helvetica;
	font-weight: 400;
	font-size: 3vw;
}