.concert {
	color: rgb(255,255,255);
	position: absolute;
	left: 2vw;
	top: 1.5vw;
	font-family: Quasimoda, Helvetica;
	font-weight: 600;
	font-size: 2vw;
}
.choose {
	color: rgb(255,255,255);
	position: absolute;
	left: 2vw;
	top: 1.5vw;
	font-family: Quasimoda, Helvetica;
	font-weight: 200;
	font size: 1vw;
	line-height: 15vw;
}

.photo1 {
	float: left;
	position: relative;
	width: 250px;
	height: 250px;
	top: -90px;
	background-repeat: no-repeat;
	margin-right: 20px;
	background-size: contain;
}

.photo2 {
	float: left;
	position: relative;
	width: 250px;
	height: 250px;
	background-repeat: no-repeat;
	top: -220px;
	left: -50px;
	margin-right: 20px;
	background-size: contain;
	background-position: center;
}

.panic1 {
	background-image: url("panic1.png");
	transition: all 500ms ease-in-out;
}

.panictitle {
	background-image: url("panictitle.png");
}

.top1 {
	background-image: url("top1.png");
}

.bleachers1 {
	background-image: url("bleachers1.png");
	z-index: 1;
	top: 20px;
	left: -320px;
}
.panic2 {
	background-image: url("panic2.png");
	left: -370px;

}

.wtm1 {
	background-image: url("wtm1.png");
	left: 650px;
	top: -475px;
}

.wtm2 {
	background-image: url("wtm2.png");
	left: 375px;
	top: -235px;
}

.top2 {
	background-image:url("top2.png");
	top: -335px;
	left:315px;
}

.bleachers2 {
	background-image:url("bleachers1.png");
	top: -470px;
	left: 255px;
}

.panic3 {
	background-image: url("panic3.png");
	top: -485px;
	left: 1065px;
}

.top3 {
	background-image: url("top3.png");
	top: -590px;
	left: 1000px;
}

.wrapper {
	position: relative;
	top: -10vw;
	width: 1300px;
	margin: 80vh auto 0vh auto;
}