body {
	margin: 0;
}

.background {
	width:100vw;
	height: 70vw;
	top: 0px;
	left:0px;
	background-color: rgb(36,37,94);
}

.photobg {
	background-repeat: no-repeat;
	width:100vw;
	height: 100vw;
	background-size: cover;
	background-position: center;
}

.panicbg {
	background-image: url("panicbg.jpg");
}

.topbg {
	background-image: url("topbg.jpg");
}

.wtmbg {

}

.bleachersbg {

}

.hide {
	opacity: 0;
}

.concert {
	color: rgb(255,255,255);
	position: absolute;
	left: 2vw;
	top: .5vw;
	font-family: Maple, Cubano, Hobeaux;
	font-weight: 600;
	font-size: 4vw;
}
.choose {
	color: rgb(255,255,255);
	position: absolute;
	left: 2vw;
	top: -0.5vw;
	font-family: Quasimoda, Helvetica;
	font-weight: 200;
	font size: 5vw;
	line-height: 15vw;
}

.photo {
	float: left;
	position: absolute;
	width: 250px;
	height: 250px;
	top: 300px;
	left: -40px;
	background-repeat: no-repeat;
	background-size: contain;
	transition: all 500ms ease-in-out;
	cursor: pointer;
}

.panic1 {
	background-image: url("panic1.png");
}

.top1 {
	background-image: url("top1.png");
	top: 170px;
	left: 170px;
}

.bleachers1 {
	background-image: url("bleachers1.png");
	top: 430px;
	left: 170px;
}
.panic2 {
	background-image: url("panic2.png");
	left: 380px;

}

.wtm1 {
	background-image: url("wtm1.png");
	top: 170px;
	left: 590px;
}

.wtm2 {
	background-image: url("wtm2.png");
	top: 430px;
	left: 590px;
}

.top2 {
	background-image:url("top2.png");
	left: 800px;

}

.bleachers2 {
	background-image:url("Bleachers2.png");
	top: 170px;
	left: 1010px;

}

.panic3 {
	background-image: url("panic3.png");
	top: 430px;
	left: 1010px;

}

.top3 {
	background-image: url("top3.png");
	left: 1220px;
}

.panictitle {
	background-image: url("panictitle.png");
}

.toptitle {
	background-image: url("toptitle.png");
}

.bleacherstitle {
	background-image: url("bleacherstitle.png");
}

.wtmtitle {
	background-image: url("wtmtitle.png");
}