.fiberhouse {
  color: rgb(214,116,102);
  position: absolute;
  left: 18vw;
  top: 2vw;
  font-family: Gill Sans, Helvetica;
  font-weight: 400;
  font-size: 2.5vw;
  line-height: 1vw;
  text-align: left; 
}

.sprouting {
  color: rgb(214,116,102);
  position: absolute;
  left: 18vw;
  top: 1.5vw;
  font-family: Gill Sans, Helvetica;
  font-weight: 600;
  font-size: 6vw;
  line-height: 5vw;
  text-align: left; 
}

.date {
  color: rgb(214,116,102);
  position: absolute;
  left: 18vw;
  top: 17vw;
  font-family: Gill Sans, Helvetica;
  font-weight: 600;
  font-size: 4vw;
  line-height: 5vw;
  text-align: left; 
}

.rsvp {
  color: rgb(214,116,102);
  position: absolute;
  left: 18vw;
  top: 21.5vw;
  font-family: Gill Sans, Helvetica;
  font-weight: 400;
  font-size: 2.72vw;
  line-height: 4vw;
  text-align: left; 
}

.photo {
  float: left;
  position: relative;
  width: 400px;
  height: 400px;
  background-repeat: no-repeat;
  margin-right: 20px;
}

.pic1 {
  background-image: url("try2.png");
}

.pic2{
   background-image: url("pic2.png");
   top: -50px;
   left: 15px;
}

.pic3 {
	background-image: url("pic3.png");
	top: -15px;
}

.text {
  float: left;
  color: rgb(214,116,102);
  width: 400px;
  position: relative;
  font-family: Gill Sans, Helvetica;
  font-weight: 400;
  font-size: 2vw;
  line-height: 2.2vw;
  text-align: left; 
}

.part2 {
	top: 40px;
}

.part3 {
	top: 475px;
	left: 15px;
}

.wrapper {
  position: relative;
  top: -10vw;
  width: 920px;
  margin: 80vh auto 0 auto;

}


.background {
  position: fixed;
  top: 0px;
  left: 0;
  height: 160vw;
  width: 220vh;
  background-image: url("background6.jpg");
  background-size: cover;
  background-position: center;
}

@media (max-width: 411px) {
	.fiberhouse {
		font-size: 16px;
	}
	.sprouting {
		font-size: 35px;
		line-height: 32px;
	}
	.date {
		font-size: 20px;
		line-height: 170px;
	}
	.rsvp {
		font-size: 15px;
		line-height: 180px;
	}

	.text {
		display: none;
	}

	.pic2 {
		background-image:url(photo2.png);
		position: center;
		top: 500px;
		left: 75px;
	}

	.pic3 {
		background-image:url(photo3.png);
		position: center;
		top: -400px;
		left: 100px;
	}
	.pic1 {
		background-image:url(trysmall.png);
		position: center;
		top: -225px;
		left: 100px;
	}
}